# Define each variable appropriately and rename this file to .env, it will be used by compose.yaml

# Base path on the host for all persistent Docker data (volumes)
DOCKER_VOLUMES=/path/to/your/docker/volumes

# Nextcloud application settings
HOST=cloud.yourdomain.com

# Database credentials
DB_USER=nextcloud
DB_PASSWORD='your_db_password'
DB_ADMIN_PASSWORD='your_db_admin_password'

# Nextcloud email settings
MAIL_DOMAIN=yourdomain.com
SMTP_HOST="your.smtp.server"
SMTP_SECURE=ssl
SMTP_PORT=465
SMTP_NAME="nextcloud@yourdomain.com"
SMTP_PASSWORD='your_smtp_password'

# Nextcloud initial admin credentials
ADMIN_USER=admin
ADMIN_PASSWORD="your_admin_password"

# A space-separated list of trusted IP ranges for the reverse proxy
# This must be configured to your networking setup.
TRUSTED_PROXIES="172.16.0.0/12"

# File Drop Specific Vars
FILEDROP_EMAIL_RECIPIENT=recipient@yourdomain.com
FILEDROP_SENDER_NAME="Nextcloud Hosting"